.input{
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}

.input__title{
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.input > input, textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    text-align: center;
}

.input > textarea{
    height: 120px;
    resize: none;
    text-align: left;
}
