footer.footer
    .container
        .row.footer__row.row_alignItems_top
            .footer__col
                h4.footer__title About Credits
                .footer__line
                .footer__text
                    | CREDITS.COM PTE. LTD.<br/> Reg. No.: 201725929C<br/> Check
                    | <br/> 79 Ayer Rajah Crescent<br/> #05-08 Singapore 139955<br/>

            .footer__col
                h4.footer__title Правила
                .footer__line
                .footer__text
                    a.footer__link Условия пользования сайтом <br/>
                    a.footer__link Условия ICO <br/>
                    a.footer__link Политика <br/> конфиденциальности

            .footer__col
                h4.footer__title Contacts
                .footer__line
                .footer__text
                    | Advertising & PR: pr@credits.com<br/> Press & news: press@credits.com<br/> General issues: info@credits.com<br/> Tel: +65 8114 9362<br/>
    .footer__copyright Copyright © 2017 CREDITS.COM All Rights Reserved.      
