doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            .container
                .row
                    .container.container_cases-categories
                        a.container__link_case(href="#") Медицина
                        a.container__link_case(href="#") Медицина
                        a.container__link_case(href="#") Медицина
                        a.container__link_case(href="#") Медицина
                        a.container__link_case(href="#") Медицина
                        a.container__link_case(href="#") Медицина
                        
                    .container
                        
    
        include ../blocks/footer/footer.jade
