doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
        
        .title
            h2.title__text Основной заголовок
            h3.title__subtext  Текст под заголовком
            
        .container.container_cases
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
            a.case(href="#")
                img.case__img(src="img/case.jpg",width="200px",height="200px")
                span.case__title Что-то тут не так...
        a.button.button_request(href="#") Оставить заявку

            
            
    
        include ../blocks/footer/footer.jade
