noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        .header__logo
            img(src="img/header__logo.png")
            h1.header__title CREDITS
        .header__menuIcon
            div
            div
            div
        nav.header__menu
            a.header__item("href=#") о нас
            a.header__item("href=#") новости
            a.header__item("href=#") ico
            .header__item-wrapper
                a.header__item.header__item-hasSubmenu("href=#") документы
                    .header__submenu
                        a.header__item("href=#") Презентация
                        a.header__item("href=#") Презентация короткая
                        a.header__item("href=#") Видео
            a.header__item("href=#") mvp
            a.header__item("href=#") команда
            a.header__item("href=#") f.a.q
            a.header__item("href=#") профиль
            a.header__item
                img("src=img/header__enter.png", "alt=Войти")
            .header__item-wrapper
                a.header__item.header__item-hasSubmenu("href=#") рус
                    .header__submenu
                        a.header__item(href="#") рус
.header__empty
